<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.baneofsociety.helloworld" >

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/title_activity_main" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Step1"
            android:label="@string/title_activity_step1" >
        </activity>
        <activity
            android:name=".Step2"
            android:label="@string/title_activity_step2" >
        </activity>
        <activity
            android:name=".Step3"
            android:label="@string/title_activity_step3" >
        </activity>
        <activity
            android:name=".Step4"
            android:label="@string/title_activity_step4" >
        </activity>
        <activity
            android:name=".Step5"
            android:label="@string/title_activity_step5" >
        </activity>
        <activity
            android:name=".Step6"
            android:label="@string/title_activity_step6" >
        </activity>
        <activity
            android:name=".Step7"
            android:label="@string/title_activity_step7" >
        </activity>
        <activity
            android:name=".intro"
            android:label="@string/title_activity_intro" >
        </activity>
        <activity
            android:name=".abusivebehavior"
            android:label="@string/title_activity_abusivebehavior" >
        </activity>
        <activity
            android:name=".nonechecked"
            android:label="@string/title_activity_nonechecked" >
        </activity>
        <activity
            android:name=".yeschecked"
            android:label="@string/title_activity_yeschecked" >
        </activity>
        <activity
            android:name=".Example1"
            android:label="@string/title_activity_example1" >
        </activity>
        <activity
            android:name=".Example2"
            android:label="@string/title_activity_example2" >
        </activity>
        <activity
            android:name=".Example3"
            android:label="@string/title_activity_example3" >
        </activity>
        <activity
            android:name=".Example4"
            android:label="@string/title_activity_example4" >
        </activity>
        <activity
            android:name=".abusivebehavior2"
            android:label="@string/title_activity_abusivebehavior2" >
        </activity>
        <activity
            android:name=".nonechecked2"
            android:label="@string/title_activity_nonechecked2" >
        </activity>
        <activity
            android:name=".yeschecked2"
            android:label="@string/title_activity_yeschecked2" >
        </activity>
        <activity
            android:name=".Example5"
            android:label="@string/title_activity_example5" >
        </activity>
        <activity
            android:name=".Example6"
            android:label="@string/title_activity_example6" >
        </activity>
        <activity
            android:name=".Example7"
            android:label="@string/title_activity_example7" >
        </activity>
        <activity
            android:name=".Example8"
            android:label="@string/title_activity_example8" >
        </activity>
        <activity
            android:name=".abusivebehavior3"
            android:label="@string/title_activity_abusivebehavior3" >
        </activity>
        <activity
            android:name=".nonechecked3"
            android:label="@string/title_activity_nonechecked3" >
        </activity>
        <activity
            android:name=".yeschecked3"
            android:label="@string/title_activity_yeschecked3" >
        </activity>
        <activity
            android:name=".Example9"
            android:label="@string/title_activity_example9" >
        </activity>
        <activity
            android:name=".Example10"
            android:label="@string/title_activity_example10" >
        </activity>
        <activity
            android:name=".Example11"
            android:label="@string/title_activity_example11" >
        </activity>
        <activity
            android:name=".Final"
            android:label="@string/title_activity_final" >
        </activity>
    </application>

</manifest>
